body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    text-align: center;
    background-color: #E6E0F8;
}
h1 {
    margin-bottom: 0px;
    color: #663399;
    font-size: 3rem;
    font-weight: bolder;
}
textarea {
    width: 90%;
    height: 400px;
    margin: 0 auto 20px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    display: block;
}
input[type="text"] {
    width: 90%;
    margin: 0 auto;
    display: block;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #663399;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

p {
    margin-bottom: 0px;
}

button:hover {
    background-color: #4B0082;
}